/* section {
    background: red;
    border: 2px solid black;
} */


 /* .child2 {
    background: blue; */
    /* position: relative; */
    /* top: 90px;
    left: 15px; */
    /* popsition: fixed;
    top: 40px;
    left: 70px; */


    /* .parent:hover { */
        /* transform: scale(0.8); */
        /* } */
        /* button {
            border: 2px solid green;
            border-radius: 15px;
            padding: 10px;
            background: green;
            color:white;
        } */

        .parent {
            background: green;
            border: 2px solid black;
            height: 150px;
            width;400px;
            transition: animation;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            0% {
            background: green;
            width: 150px;
            border: 1px solid black;
        }

        25% {
            background: red;
            width: 200px;
            border: 2px  solid black;
        }

        50%{
            background: blue;
            width: 250px;
            border: 3px solid black;
        }

        75%{
            background: white;
            width: 300px;

        }

        section {
            bckground: blue;
            border: 3px solid white;
            
        }

